Django
djangorestframework
djangorestframework-simplejwt
django-environ
django-cors-headers
psycopg2-binary
google-auth
gunicorn
whitenoise
drf_spectacular
requests

groq
google-genai
pillow

pandas
numpy
supabase
python-dotenv
django-anymail